.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.align-left {
    align-items: left;
}

.align-center {
    align-items: center;
}

.align-right {
    align-items: right;
}

